.loginPage{

}

.password {
  width: 330px;
  margin-top: 65px;
  position: relative;

}

.emailInput {
  border: none;
  border-bottom: solid 1px #969696;
  width: 300px;
  margin-left: 24px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.05px;
  color: #969696;
}


.passwordInput {
  border: none;
  border-bottom: solid 1px #969696;
  width: 255px;
  margin-left: 24px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.05px;
  color: #969696;
}


.Img {
  border-bottom: solid 1px #969696;
  position: absolute;
  bottom: 0;
}


.passwordSpan {
  border-bottom: solid 1px #969696;
  position: absolute;
  bottom: 0%;

  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
  color: #969696;
}

.text {
  margin: 65px 0px 5px 0px;

  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
  text-align: center;
  color: #ff0000;
}

.buttons {
  width: 335px;
  margin: 24px 0px 0px 0;
  padding: 15px 87px 15px 86px;
  border: solid 1px #979797;
  background-color: #23036a;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.38px;
  color: #ffffff;
}