.add_icon_wrapper {
  width: 19px;
  height: 16px;
  border: solid 1px #e8e8e8;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  font-size: 9px;
}

.add_button {
  height: 29px;
  width: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: none;
  background-color: white;
}

